
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
    </script>
    <script>
    $.getJSON('https://jsonplaceholder.typicode.com/todos',{ajax:true},function(data){

     var str="<table><tr><th>UserId</th><th>Id</th><th>Title</th><th>Status</th></tr>"
     data.forEach((item,index)=>{
     str+="<tr><td>"+item.userId+"</td>"
     str+="<td>"+item.id+"</td>"  
     str+="<td>"+item.title+"</td>"
     str+="<td>"+item.completed+"</td></tr>"


})
str+="</table>"
$("#result").html(str)
})


</script>
<html>
<div id="result">

</div>
</html>