<html>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<style>
    .maincontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        background-color: #2f3640;
    }

    .subcontainer {
        width: 600px;
        height: 350px;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: #dcdde1;
    }

    .heading {
        font-size: 30px;
        font-weight: 100px;
        text-align: center;
        color: #2f3640;

    }
</style>

<body style="margin:0px">
    <div class="maincontainer">
        <div class="subcontainer">
            <div class="heading">
                Category Interface
            </div>
            <form action="/category/submit" method="post" enctype="multipart/form-data">
            <div class="row">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="Category Name" name="categoryname" type="text" class="validate">
                            <label for="Category Name">Category Name</label>
                        </div>
                    
            </div>
        </div>
        <div class="file-field input-field">
            <div class="btn">
                <span>File</span>
                <input type="file" name="picture">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col s6 center">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
              
            </div>


            <div class=" col s6">
                <button class="btn waves-effect waves-light" type="reset" name="action">Reset
                    <i class="material-icons right">cancel</i>
                </button>

            </div>
            

            <div class="heading"><%=msg%></div>
        </div>
    </form>
    </div>
    </div>
    </div>

    </div>






    </div>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>