<html>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
</script>
<script>
 $(document).ready(function(){
    $('select').formSelect();
  });
</script>
<script>
    $(document).ready(function(){
    $.getJSON("/category/displayJSON",{ajax:true},function(result){
    console.log(result)
    if(result.status){
        result.data.forEach((item,index)=>{
            $("#categoryid").append($("<option>").text(item.categoryname).val(item.categoryid))
        })

    }
    $('select').formSelect();
    
})


    })
</script>

<style>
    .maincontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        background-color: #2f3640;
    }

    .subcontainer {
        width: 600px;
        height: 550px;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: #dcdde1;
    }

    .heading {
        font-size: 30px;
        font-weight: 100px;
        text-align: center;
        color: #2f3640;

    }
</style>

<body style="margin:0px">
    <div class="maincontainer">
        <div class="subcontainer">
            <div class="heading">
                SubCategory Interface
            </div>
            <div class="input-field col s12">
                <select id="categoryid">
                  <option >Select Category</option>
                  
                </select>
                <label>Materialize Select</label>
              </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="SubCategory Name" type="text" name="subcategoryname" class="validate">
                        <label for="SubCategory Name">SubCategory Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="Description" name="description" class="materialize-textarea"></textarea>
                        <label for="Description">Description</label>

                    </div>
                </div>




                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" name="picture">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>

                </div>
                <div class="row">
                    <label>
                        <div class="col s6 center">
                            <input class="material-icons right" name="status" value="available" type="radio" />
                            <span>Available</span>
                        </div>
                    </label>
                    <label>
                        <div class="col s6 center">
                            <input class="material-icons right" name="status" value="not available" type="radio" />
                            <span> Not Available</span>
                        </div>
                    </label>
                </div>
                <div class="row">
                    <div class="col s6 center">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>


                    <div class=" col s6">
                        <button class="btn waves-effect waves-light" type="reset" name="action">Reset
                            <i class="material-icons right">cancel</i>
                        </button>

                    </div>

                </div>


            </div>
            </form>
            <div style="display: flex;justify-content: center;"><%=msg%></div>
        </div>
    </div>

    </div>






    </div>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>